<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="clientUsername" class="col-sm-2 control-label">Username</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="clientUsername" id="clientUsername">
    </div>
  </div>
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="name" id="name">
    </div>
  </div>  
  <div class="form-group">
    <label for="email" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" name="email" id="email">
    </div>
  </div>
  <div class="form-group">
    <label for="password" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="password" id="password">
    </div>
  </div>
  <div class="form-group">
    <label for="datepicker" class="col-sm-2 control-label">Birthday</label>
    <div class="col-sm-10">
      <input type="date" class="form-control" id="datepicker" name="birthday">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Gender</label>
    <div class="col-sm-10">
        <div class="radio">
          <label>
            Male <input type="radio" name="gender" value="M">
          </label>
        </div>
        <div class="radio">
          <label>
            Female <input type="radio" name="gender" value="F">
          </label>
        </div>
    </div>
  </div>

  <div class="form-group">
    <label for="bio" class="col-sm-2 control-label">Bio</label>
    <div class="col-sm-10">
      <textarea name="bio" rows="3" class="form-control" id="bio"></textarea>
    </div>
  </div>

</form>
<button class="btn btn-default save_new">Save</button>
<button class="btn btn-default cancel_new">Cancel</button>
